@use '@angular/material' as mat;

.page-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.login-and-sign-up-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		.login-container {
			background: var(--mat-sys-surface-container);
			color: var(--mat-sys-on-surface);
			border-radius: 8px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			min-height: 320px;
			min-width: 294px;
			padding: 40px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.headline-and-form-fields {
				.headline {
					margin-top: 0;
					margin-bottom: 24px;
				}
				display: flex;
				flex-direction: column;
				align-items: center;

				.login-field {
					width: 100%;
					@include mat.form-field-overrides((
									filled-container-color: transparent
					));
				}

			}
			.sign-in-button {
				@include mat.button-overrides((
								filled-container-height: 48px,
								filled-label-text-size: 16px,
								filled-container-shape: var(--mat-sys-corner-small)
				));
			}
		}
		.sign-up-link {
			padding-top: 4px;
		}
	}
}
