<div class="page-container">
  <div class="login-and-sign-up-container">
    <div class="login-container">
      <h4>Calendario</h4>

      <div class="login-form">
        <mat-form-field class="login-field">
          <mat-label>Username</mat-label>
          <input type="text" matInput>
        </mat-form-field>
        <mat-form-field class="login-field">
          <mat-label>Password</mat-label>
          <input type="password" matInput>
        </mat-form-field>
        <button mat-button>Login</button>
      </div>
    </div>
    <p class="sign-up-link">Don't have an account? <a href="#">Sign up</a></p>
  </div>
</div>

