@use '@angular/material' as mat;

.page-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.login-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.form-field-transparent-background {
			@include mat.form-field-overrides((
							filled-container-color: transparent,
			));
		}
	}
}
