@use '@angular/material' as mat;

.page-container {
	background-color: bisque;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.login-and-sign-up-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		.login-container {
			background-color: white;
			min-width: 340px;
			min-height: 275px;
			border-radius: 8px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;

			.login-form {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.login-field {
					min-width: 300px;
					width: 100%;
					@include mat.form-field-overrides((
									filled-container-color: transparent,
					));
				}
			}
		}
		.sign-up-link {
			padding-top: 4px;
		}
	}
}
